@media only screen and (max-width: 600px) {
    .navbar {
        margin-bottom: 10vh;
    }
    .navbar h4 {
        font-size: x-large;
        margin-left: 10%;
    }
    .navbar .search #input_seach {
        margin-top: 3vh;
        height: 40%;
        width: 26vh;
        margin-left: 3vh;
    }
    .post_myusers {
            margin-left: 2vh;
            margin-top: -10vh;
            MARGIN-BOTTOM: 10VH;
            width: 93%;
            POSITION: revert;
    }
    .post_myusers input {
        position: absolute; 
        margin-top: 5vh; 
        height: 5vh; 
        margin-left: 8vh; 
        text-align: center; 
        background-color: #1d2833; 
        border: none;
        border-radius: 8px;
        color: whitesmoke;
        width: 70%;
    }    
    .myprofile_detalis {
        margin-left: 4vh;
    }
    .stories_section {
        background-color: #1d2833;
        position: relative;
        width: 56vh;
        border-radius: 30px;
        justify-content: flex-end;
        margin-left: 2vh;
        display: flex;
        margin-top: -10vh;
        margin-bottom: 15vh;
    }
    #img_stories_users {
        width: 4vh;
        /* margin-left: -10%; */
        height: 4vh;
        border-radius: 53px;
        margin-top: 18vh;
        margin-left: 9vh;
        position: absolute;
        border: 5px solid #2575fcbf;
    }
    .profilefollower {
        position: absolute;
        display: inline-flex;
        margin-left: 3vh;
        margin-top: -75vh;
        background-color: #1d2833;
        width: 50vh;
         border-radius: 30px;
    }
    
    .profilefollower #img_suggest_users {
        width: 13%;
        height: 62%;
        border-radius: 27px;
        /* display: block; */
        margin-left: 2vh;
        /* position: absolute; */
        margin-top: 1vh;
        margin-right: 1vh;
    }

    #content {
        font-size: small;
        margin-top: 8vh;
        margin-left: -14vh;
        width: 70%;
    }

    .douknow {
        margin-top: 35vh;
        margin-left: 4vh;
    }
    
    #heart{
        margin-left: -47vh;
        margin-right: -11vh;
    }
    #comment{
        margin-left: 13vh;
    }
    #share{
        margin-left: -4vh;
    }
    .barnav {
        display: flex;
        margin-left: 13vh;
        padding-left: 4vh;
        padding-right: 4vh;
        padding-bottom: 1vh;
        height: 16%;
        position: fixed;
        background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
        width: 12vh;
        /* background-color: #2d79c6; */
        border-radius: 11px;
        margin-top: 121vh;
        z-index: 2;
    }
    .barnav img{
        margin-top: 0.5vh;
        width: 3vh;
        margin-right: 2vh;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
    }

    .navbar #my_profile{
        display: none;
    }

  }